<!DOCTYPE html>
{% autoescape true %}

<html>
<head>
  <title>OST Reservation System</title>
  <style>
    
    th.title {
        width: 20%;
    }

    th {
        text-align: left;
    }
  </style>

  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
  <body>
    <ul>
      <li><a href="/">Main Page</a></li>
      <li><a href="/addResource">Add Resource</a></li>
    </ul>
    <div>
    {% if error %}
       <b> {{ error }} </b>
    {% endif %}

    <h2 align="center"> Add a Reservation for: {{ resource.name }} </h2>
    <h3 style="color:red"> All times are assumed to be in EST </h3>
    <hr>
    <form action="/addReservation?resourceUniqueID={{resourceUniqueID}}" method="post">
      
    <table width="40%">
      <tr>
        <th class="title"></th>
        <th>Day</th>
        <th>Month</th>
        <th>Year</th>
      </tr>  
    <tr>
        <td>Reservation Date </td>
        <td>
          <select name="dateDay">
          {% for x in range(1,32) %}
            {% if dateDay and dateDay == x %}
              <option value="{{ x }}" selected>{{ x }}</option>
            {% else %}  
              <option value="{{ x }}">{{ x }}</option>
            {% endif %}
          {% endfor %}
          </select>
        </td>
        <td>  
          <select name="dateMonth">
          {% for x in range(1,13) %}
             {% if dateMonth and dateMonth == x %}
              <option value="{{ x }}" selected>{{ x }}</option>
            {% else %}  
              <option value="{{ x }}">{{ x }}</option>
            {% endif %}
          {% endfor %}
          </select>
        </td>
        <td>
          <select name="dateYear">
          {% for x in range(todaysYear,todaysYear+11) %}
             {% if dateYear and dateYear == x %}
              <option value="{{ x }}" selected>{{ x }}</option>
            {% else %}  
              <option value="{{ x }}">{{ x }}</option>
            {% endif %}
          {% endfor %}
          </select>
        </td>
    </tr>
  </table>
  <hr>
  <table width="40%">
    <tr>
      <th class="title"></th>
      <th>Hour</th>
      <th>Minute</th>
    </tr>  
    <tr>
        <td>Start Time </td>
        <td>
        <select name="startHour">
          {% for x in range(0,24) %}
            {% if startHour and startHour == x %}
              <option value="{{ x }}" selected>{{ x }}</option>
            {% else %}  
              <option value="{{ x }}">{{ x }}</option>
            {% endif %}  
          {% endfor %}
          </select>
        </td>
        <td>
          <select name="startMinute">
          {% for x in range(0,60,5): %}
            {% if startMinute and startMinute == x %}
              <option value="{{ x }}" selected>{{ x }}</option>
            {% else %}  
              <option value="{{ x }}">{{ x }}</option>
            {% endif %} 
          {% endfor %}
        </select>
      </td>
    </tr>
    </table>
    <p>
    <label id="resourceName">Reservation Duration (in minutes): </label>
      {% if duration %}
        <input type="text" name="duration"  value="{{ duration }}" />
      {% else %}
        <input type="text" name="duration"/>
      {% endif %}  
    </p>
    
    
    <hr>
      <input type="submit">
    </form>

    <a href="{{ url|safe }}">{{ url_linktext }}</a>
    </div>
  </body>
</html>
{% endautoescape %}