<!DOCTYPE html>
{% autoescape true %}

<html>
<head>
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>
  <body>
    {% if error %}
       <b> {{ error }} </b>
    {% endif %}

    {% if editResource %}
      <h2 align="center"> Edit resource </h2>
    {% else %}  
      <h2 align="center"> Add a resource </h2>
    {% endif %}  
    <form action="/addResource{% if editResource %}?editResource=true&uniqueID={{uniqueID}}{% endif %}" method="post">
      <p>
        <label id="resourceName">Resource Name</label>
        {% if resourceName %}
          <input type="text" name="resourceName"  value="{{ resourceName }}" />
        {% else %}
          <input type="text" name="resourceName"/>
        {% endif %}  
      </p>
      <p>
        <label id="startTime">Start Time </label>
        <select name="startHour">
          {% for x in range(0,24) %}
            {% if startHour and startHour == x %}
              <option value="{{ x }}" selected>{{ x }}</option>
            {% else %}  
              <option value="{{ x }}">{{ x }}</option>
            {% endif %}  
          {% endfor %}
          </select>
          <select name="startMinute">
          {% for x in range(0,60,5): %}
            {% if startMinute and startMinute == x %}
              <option value="{{ x }}" selected>{{ x }}</option>
            {% else %}  
              <option value="{{ x }}">{{ x }}</option>
            {% endif %} 
          {% endfor %}
        </select>
      </p>
      <p>
        <label id="endTime">End Time </label>
        <select name="endHour">
          {% for x in range(0,24) %}
            {% if endHour and endHour == x %}
              <option value="{{ x }}" selected>{{ x }}</option>
            {% else %}  
              <option value="{{ x }}">{{ x }}</option>
            {% endif %}  
          {% endfor %}
          </select>
          <select name="endMinute">
          {% for x in range(0,60,5): %}
            {% if endMinute and endMinute == x %}
              <option value="{{ x }}" selected>{{ x }}</option>
            {% else %}  
              <option value="{{ x }}">{{ x }}</option>
            {% endif %}  
          {% endfor %}
        </select>
      </p>
      <p>
        <label id="tags">Tags </label>
        {% if tags%}
          <input type="text" name="tags" placeholder="abc, def" value="{{ tags }}"/>
        {% else %}  
          <input type="text" name="tags" placeholder="abc, def"/>
        {% endif %} 
      </p>
      <input type="submit">
    </form>
  </body>
</html>
{% endautoescape %}