<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
  <title>OST Reservation System</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
  <body>
    <ul>
      <li><a class="active" href="/">Main Page</a></li>
      <li><a href="/addResource">Add Resource</a></li>
    </ul>
    <div>
    <h2>Reservations by: <a href="/?showUsers=true">{{user}}</a></h2>
    <table width="100%">
      <tr>
        <th>Resource Name</th>
        <th>Booking Date</th>
        <th>Booking Time</th>
        <th width = "5%">Delete Reservation</th>
      </tr>  
    {% for e in reservations: %}
      <tr>
          <td><a href="/resource?resourceUniqueID={{ e.resourceUniqueID }}"> {{ e.name }} </a><a href="/generateRSS?resourceUniqueID={{ e.resourceUniqueID }}"> <img src="images/rssImage.jpg" alt="Rss Feed" height="20" width="20"></a></td>
          <td><b>{{e.dateDay}}</b>/<b>{{e.dateMonth}}</b>/<b>{{e.dateYear}}</b></td>
          <td><h5> {{ e.startHour }}:{{ e.startMinute }}{% if e.startMinute == 0 %}0{% endif %} - {{ e.endHour }}:{{ e.endMinute }}{% if e.endMinute == 0 %}0{% endif %} ( duration {{ e.duration}} minutes)</h5></td>  
          <td style="text-align:center;"><a href="/deleteReservation?reservationUniqueID={{ e.uniqueID }}"> <img src="images/trashIcon.jpg" alt="Delete" height="20" width="20"></a></td>
          
      </tr>        
    {% endfor %}  
    </table>

    {% if showUsers != "true" %}
    <hr>
      <h2>All Resources Available:</h2>
      <table width="100%">
      <tr>
        <th>Resource Name</th>
        <th>Availability hours</th>
        <th>Tags</th>
        <th>Number of Times Reserved</th>
      </tr>  
      {% for e in allResources: %}
      <tr>
          <td><a href="/resource?resourceUniqueID={{ e.uniqueID }}"> {{ e.name }} </a> <a href="/generateRSS?resourceUniqueID={{ e.uniqueID }}"> <img src="images/rssImage.jpg" alt="Rss Feed" height="20" width="20"></a></td>
          <td><h5> {{ e.startHour }}:{{ e.startMinute }}{% if e.startMinute == 0 %}0{% endif %} - {{ e.endHour }}:{{ e.endMinute }}{% if e.endMinute == 0 %}0{% endif %} </h5></td>  
          <td>
            {% for x in e.tags: %}
              {% if x != "" %}
                <a href="/tags?tag={{ x }}"> {{ x }} </a>&nbsp;
              {% endif %}
            {% endfor %}
          </td>
          <td>{{e.pastReservationCount}}</td>
      </tr>        
      {% endfor %} 
    </table>
    <hr>
    {% endif %}

    <h2>Resources owned by: <a href="/?showUsers=true">{{user}}</a></h2>
    <table width="100%">
      <tr>
        <th>Resource Name</th>
        <th>Availability hours</th>
        <th>Tags</th>
        <th>Number of Times Reserved</th>
      </tr>  
    {% for e in resources_for_user: %}
      <tr>
          <td><a href="/resource?resourceUniqueID={{ e.uniqueID }}"> {{ e.name }} </a> <a href="/generateRSS?resourceUniqueID={{ e.uniqueID }}"> <img src="images/rssImage.jpg" alt="Rss Feed" height="20" width="20"</a></td>
          <td><h5> {{ e.startHour }}:{{ e.startMinute }}{% if e.startMinute == 0 %}0{% endif %} - {{ e.endHour }}:{{ e.endMinute }}{% if e.endMinute == 0 %}0{% endif %} </h5></td>  
          <td>
            {% for x in e.tags: %}
              {% if x != "" %}
                <a href="/tags?tag={{ x }}"> {{ x }} </a>&nbsp;
              {% endif %}
            {% endfor %}
          </td>
          <td>{{e.pastReservationCount}}</td>
      </tr>        
    {% endfor %}  
    </table> 

    {% if showUsers != "true" %}
    <hr>
    
    <form action="/addResource" method="get">
      <div><input type="submit" value="Add a Resource"></div>
    </form>

    {% endif %}
    
    <hr>

    <label ><h3>Search By Name: <h3></label>
      <form action="/searchByName" method="post">
        <p>
          <input type="text" name="searchValue" placeholder="Search By Name" required />
        </p>
        <p>
          <input type="submit" value="Search">
      </form>

      <hr>

    <label ><h3>Search By Availability: <h3></label>
    <form action="/searchByAvailability" method="post">
    
    <table style="width:40%">
      <tr>
        <th class="title"></th>
        <th>Day</th>
        <th>Month</th>
        <th>Year</th>
      </tr>  
    <tr>
        <td>Reservation Date </td>
        <td>
          <select name="dateDay">
          {% for x in range(1,32) %}
            <option value="{{ x }}">{{ x }}</option>
          {% endfor %}
          </select>
        </td>
        <td>  
          <select name="dateMonth">
          {% for x in range(1,13) %}
             <option value="{{ x }}">{{ x }}</option>
          {% endfor %}
          </select>
        </td>
        <td>
          <select name="dateYear">
          {% for x in range(todaysYear,todaysYear+11) %}
             <option value="{{ x }}">{{ x }}</option>
          {% endfor %}
          </select>
        </td>
    </tr>
  </table>
    <table style="width:40%">
    <tr>
      <th class="title"></th>
      <th>Hour</th>
      <th>Minute</th>
    </tr>  
    <tr>
        <td>Start Time </td>
        <td>
        <select name="startHour">
          {% for x in range(0,24) %}
              <option value="{{ x }}">{{ x }}</option>
          {% endfor %}
          </select>
        </td>
        <td>
          <select name="startMinute">
          {% for x in range(0,60,5): %}
            <option value="{{ x }}">{{ x }}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
    </table>
    <p>
    <label id="resourceName">Reservation Duration (in minutes): </label>
      <input type="text" name="duration"/> 
    </p>

     <input type="submit">
    </form>
    <hr>

    <a href="{{ url|safe }}">{{ url_linktext }}</a>
  </div>
  </body>
</html>
{% endautoescape %}