<!DOCTYPE html>
{% autoescape true %}
<html>
<head>

  <style>
    table, th, td {
        border: 1px solid black;
    }
    th, td {
        padding: 5px;
    }
    th {
        text-align: center;
    }
  </style>
</head>
  <body>
    <hr>

    <table width="100%">
      <tr>
        <th>Resource Name</th>
        <th>Availability hours</th>
        <th>Tags</th>
      </tr>  
    {% for e in resources_for_user: %}
      <tr>
          <td><a href="/resource?uniqueID={{ e.uniqueID }}"> {{ e.name }} </a></t6>
          <td><h5> {{ e.startHour }}:{{ e.startMinute }}{% if e.startMinute == 0 %}0{% endif %}  {{ e.startAMorPM }} - {{ e.endHour }}:{{ e.endMinute }}{% if e.endMinute == 0 %}0{% endif %}  {{ e.endAMorPM }}  </h5></t6>  
          <td>
            {% for x in e.tags: %}
              <a href="/tags?tag={{ x }}"> {{ x }} </a>&nbsp;
            {% endfor %}
          </td>
      </tr>        
    {% endfor %}  
    </table> 

    <hr>
    
    <form action="/addResource" method="get">
      <div><input type="submit" value="Add a Resource"></div>
    </form>
    
    <hr>

    <a href="{{ url|safe }}">{{ url_linktext }}</a>

  </body>
</html>
{% endautoescape %}