<!DOCTYPE html>
{% autoescape true %}
<html>
<head>

  <style>
    table, th, td {
        border: 1px solid black;
    }
    th, td {
        padding: 5px;
    }
    th {
        text-align: center;
    }
  </style>
</head>
  <body>
    <table width="100%">
      <tr>
        <th>Resource Name</th>
        <th>Availability hours</th>
        <th>Tags</th>
      </tr>  
    <tr>
        <td><a href="/resource?resourceUniqueID={{ resource.uniqueID }}"> {{ resource.name }} </a><a href="/generateRSS?resourceUniqueID={{ resource.uniqueID }}"> <img src="images/rssImage.jpg" alt="Rss Feed" height="20" width="20"</a></t6>
        <td><h5> {{ resource.startHour }}:{{ resource.startMinute }}{% if resource.startMinute == 0 %}0{% endif %}  - {{ resource.endHour }}:{{ resource.endMinute }}{% if resource.endMinute == 0 %}0{% endif %}  </h5></td>
        <td>
          {% for x in resource.tags: %}
            <a href="/tags?tag={{ x }}"> {{ x }} </a>&nbsp;
          {% endfor %}
        </td>
    </tr>        
    
    </table> 
    <hr>

    <table width="100%">
      <tr>
        <th>User Name</th>
        <th>Reservation Date(DD/MM/YY)</th>
        <th>Booked Hours</th>
      </tr>  
    {% for e in reservations: %}
      <tr>
          <td>{{ e.user }}</td>
          <td><b>{{e.dateDay}}</b>/<b>{{e.dateMonth}}</b>/<b>{{e.dateYear}}</b></td>
          <td><h5> {{ e.startHour }}:{{ e.startMinute }}{% if e.startMinute == 0 %}0{% endif %}  {{ e.startAMorPM }} - {{ e.endHour }}:{{ e.endMinute }}{% if e.endMinute == 0 %}0{% endif %}  {{ e.endAMorPM }}  </h5></td>  
          
      </tr>        
    {% endfor %}  
    </table> 

    <hr>
    <form action="/addReservation" method="get">
          <input type="hidden" name="resourceUniqueID" value="{{resource.uniqueID}}">
          <div><input type="submit" value="Add Reservation"></div>
    </form>
    <hr>
    
    {% if editActive=="True" %}
      <form action="/editResource" method="get">
        <input type="hidden" name="editResource" value="true">
        <input type="hidden" name="uniqueID" value="{{resource.uniqueID}}">
        <input type="hidden" name="resourceName" value="{{resource.name}}">
        <input type="hidden" name="startHour" value="{{resource.startHour}}">
        <input type="hidden" name="startMinute" value="{{resource.startMinute}}">
        <input type="hidden" name="endHour" value="{{resource.endHour}}">
        <input type="hidden" name="endMinute" value="{{resource.endMinute}}">
        {% if tagsWork == "True" %}
          <input type="hidden" name="tags" value="{{resource.tags}}">
        {% endif %}
        <div><input type="submit" value="Edit Resource"></div>
      </form>
    {% endif %}
    
    <hr>

    <a href="{{ url|safe }}">{{ url_linktext }}</a>

  </body>
</html>
{% endautoescape %}